click==8.0.1
colorama==0.4.4
cycler==0.10.0
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kaleido==0.2.1
MarkupSafe==2.0.1
numpy
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
retrying
scikit-learn
scipy
six
tablib
threadpoolctl
Werkzeug
