<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "style.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    
    <title>ML Tool box by MSIT</title>
</head>
<body>
    <div>
        <div class="jumbotron text-center">
            <h1 style="margin-bottom:0">ML Tool box by MSIT</h1>
            <br>
            <p class="text-center">Developers : Jayaprakash, Tarun, Bhavana, Phaneendra    |
                Mentor : Dr. Arun sir
            </p>
        </div>
        
        <div class="container">
            <div class="alert alert-info">
                <strong>Info!</strong> This is Basic Version of ML Tool box. 
                <li>
                    Normal ==> ie. Beginner to Data Science    
                </li>
                <li>
                    Expert ==> ie. Data Scientist
                </li>
            </div>


            <form method="POST" action="/" enctype="multipart/form-data">

                <div>
                    <b style = "font-size: 25px;">Choose your Algorithm &nbsp;</b>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="algotype" id="flexRadioDefault1" value="linear_reg">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Regression :Linear Regression
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="algotype" id="flexRadioDefault2" value="logistic_reg">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Classification :Logistic Regression
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="algotype" id="flexRadioDefault2" value="other_reg">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Classification : SVM
                        </label>
                    </div>
                </div>
                <br>
                <b style = "font-size: 25px;">Please select mode &nbsp;</b>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="modeof" id="flexRadioDefault1" value="normal">
                    <label class="form-check-label" for="flexRadioDefault1">
                    Normal Mode
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="modeof" id="flexRadioDefault2" value="expert">
                    <label class="form-check-label" for="flexRadioDefault2">
                    Expert Mode
                    </label>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <!-- <h3>
                My data {{data}}
            </h3> -->
        </div>
        
    </div>
    <br>

    


</body>
</html>