<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <link rel= "stylesheet" type= "text/css" href= "style.css"> -->
    <br>
    <br>
    <title>Logistic Regression Normal Mode</title>
</head>

<body>
    <h1 class="text-center">Logistic Regression Normal Mode</h1>
    <br>

    
    <div class="card text-center" style="width: 24rem; margin-left: 37.5%">
        <div class="card-body">
            <b>Give your input</b>
            <br>
            <br>
            <form method="POST" action="/lg_final_input" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                        <input type="text" class="form-control" name="finalinputval" placeholder="int value" aria-label="Text input with radio button"> (Example = 100000)
                    </div>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <br>
            <b>Output : {{Y_pred_val}}</b>
        </div>

    </div>
    
    <br>
    <div class="text-center" >
        <a class="btn btn-primary" href="/" role="button">Home</a>
    </div>
    


</body>
</html>